	<fieldset>
		<legend>Near Term Improvements Needed</legend>
		<ul id="with-bullets">
			<li>Figure out paranoia gem for deleting items</li>
			<li>Allow for uploading files for document organization</li>
			<li>Javascript scenario maker</li>
			<li>View improvements</li>
		</ul>
	</fieldset>
		<fieldset>
		<legend>Future Features</legend>
		<ul id="with-bullets">
			<li>Integration with crowdfunding websites</li>
			<li>Ability to connect with other users</li>
			<li>Capography style Cap Table management (shareable)</li>
			<li>Diligence organization and sourcing options</li>
		</ul>
	</fieldset>
