// Place all the styles related to the Investments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.investment {
  float: center;
  width: 500px;
  margin: 20px 2px;
  padding: 15px 25px;
  text-align: center;
  background: white;
  background-clip: padding-box;
}

.investment-name {
	font-size: 50px;
	font-style: bold;
}

ul {
 list-style: none;
 padding-left: 20px;
}

.investment-descriptor {
	color: blue;
}

td {
	min-width: 150px;
}